  <div class="text-center p-10">
  <h1 class="text-3xl font-bold">Gestión de Empleados</h1>
  <p class="text-gray-500">Agrega, elimina y rastrea a los empleados remotos</p>
  </div>

<div class="justify-center md:flex-row p-6">
  <!--Se irán añadiendo ciudades a la lista-->
  <div>
  <app-form (formOutput)="addEmployer($event)"></app-form></div>
  <div class="p-10 shadow-md font-bold">
    <p>Empleados</p>
    @for (employer of employers; track $index) {
    <!--La lista tiene opción de borrar una ciudad-->
    <app-list [listInput]="employer" (listOutput)="deleteEmployer($event)"></app-list>
    }
  </div>
</div>